{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator_bootstrap5.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator-custom.css') }}" >
{% endblock %}

{% block content %}
<h2>Books (Classic)</h2>
<p>Standard server-side rendering. Page reloads on every action.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <a href="{{url_for('book.detail', id=book.id)}}">{{book.title}}</a>
            </td>
            <td>
                {% for author in book.authors %}
                    {% if not loop.first %}, {% endif %}{{author.name}}
                {% endfor %}
            </td>
            <td>{{book.isbn}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr style="margin: 40px 0; border-top: 2px dashed #ccc;">

<h2>Books (Interactive API)</h2>
<p>
    Dynamic rendering using <a href="https://tabulator.info">Tabulator</a>
    and <a href="{{ url_for('api_book.api_list') }}">JSON API</a>.
    Try sorting, paging, or filtering without page reload.
</p>

<div id="books-table" data-bs-theme="dark"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>
<script src="{{ url_for('static', filename='js/datatable.js') }}"></script>
<script src="{{ url_for('static', filename='js/formatters.js') }}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const table = new DataTable("#books-table", {
            apiUrl: "{{ url_for('api_book.api_list') }}",

            columns: [
                {
                    title: "ID",
                    field: "id",
                    width: 60,
                    sorter: "number",
                    hozAlign: "center"
                },
                {
                    title: "Title",
                    field: "title",
                    formatter: Formatters.bookLink,
                    sorter: "string",
                    headerFilter: "input",
                    widthGrow: 2
                },
                {
                    title: "Authors",
                    field: "authors",
                    formatter: Formatters.authors,
                    sorter: "string",
                    headerSort: true,
                    headerFilter: "input",
                    widthGrow: 1
                },
                {
                    title: "ISBN",
                    field: "isbn",
                    sorter: "string",
                    headerFilter: "input"
                }
            ]
        });

    });
</script>
{% endblock %}
